button.nav__brand.navbar-toggler.collapsed {
  margin-left: 25px !important;
}
.nav__brand {
  margin-left: 10px !important;
}

.navbar__tiket img {
  width: 10rem;
}

/* dekstop */
@media (min-width: 992px) {
  .navbar__tiket {
    margin-right: 43px !important;
  }
}
