.wrapper {
  border: 1px solid #ddd;
  display: flex;
  overflow: auto;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.wrapper .item {
  min-width: 110px;

  text-align: center;
  background-color: #ddd;
  margin-right: 2px;
}
